@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Admin.Models.ViewModel.CartIndexViewModel

<div class="wrapper" bis_skin_checked="1">
    <!--Main-->
    <main>
        <div class="container-fluid" bis_skin_checked="1">
            <center><img src="~/img/city.png" class="city__icon"></center>
            <h1 class="guide__title" style="margin-bottom: 72px;">Giỏ Hàng</h1>
        </div>

        <div class="row justify-content-center" bis_skin_checked="1">
            <div class="col-md-8" bis_skin_checked="1">
                <div class="card" style="box-shadow: unset" bis_skin_checked="1">
                    <div class="card-body" bis_skin_checked="1">
                        <table class="table-responsive table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Item</th>
                                    <th class="text-center">Images</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Cart.Items)
                                {
                                    <tr>
                                        <td class="text-center">@item.food.Name</td>
                                        <td class="text-center">
                                            <img class="img-fluid" src="~/img/@item.food.PhotoPath">
                                        </td>
                                        <td class="text-center">
                                            <input type="number" value="@item.Quantity" onchange="updateQuantity(@item.Quantity)"
                                                   asp-action="UpdateQuantity" asp-controller="Cart" asp-route-id="@item.food.Id"
                                                   id="quantity-input" style="width:100%"/>
                                        </td>
                                        <td class="text-center">Giá: <b>@string.Format("{0:N0} VND", @item.food.Price)</td>
                                        <td class="text-center">@((item.food.Price * item.Quantity).ToString("#,# VND"))</td>
                                        <td class="text-center">
                                            <a class="btn btn-danger">Remove</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-right">Total:</td>
                                    <td class="text-right">@Model.Cart.ComputeTotalValue().ToString("#,# VND")</td>
                                </tr>
                            </tfoot>
                        </table>
                        <a class="btn btn-outline-primary" asp-action="Clear" asp-controller="Cart">Clear</a>
                        <a class="btn btn-outline-primary">Back to shop</a>
                        <a class="btn btn-outline-primary">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@{
    int OnChangeQuantity(int id)
    {
        var quantity = 1;
        if (quantity > 0)
        {
            // var cart = HttpContext.Session.GetJson<Cart>("cart") ?? new Cart();
            // cart.SetQuantity(productId, quantity);
            // HttpContext.Session.SetJson("cart", cart);
        }
        return 1;
    }
    void UpdateQuantity(int id, int quantity)
    {
        if (quantity > 0)
        {
            // var cart = HttpContext.Session.GetJson<Cart>("cart") ?? new Cart();
            // cart.SetQuantity(productId, quantity);
            // HttpContext.Session.SetJson("cart", cart);
        }
    }

}

@section Scripts
    {
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var button = document.getElementById('button');
            button.addEventListener('click', function () {
                var test = "@OnChangeQuantity(1)";
                console.log(test);
            });
        });

        function updateQuantity(productId) {
            let input = document.getElementById('quantity-input');
            let quantity = input.value;
        @* @UpdateQuantity(productId, quantity); *@
                        }
    </script>
}
