@model Admin.Models.ViewModel.FoodCategoryViewModel


<!-- Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-warning fw-normal">Thực đơn</h5>
            <h1 class="mb-5">Những món ăn của chúng tôi</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp mx-2" data-wow-delay="0.1s">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark my-2">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item text-center m-2 fs-5 fw-bold border-1">
                                <a href="@Url.Action("Menu", "Food", new { categoryId = 0 })" class="nav-link text-warning" tabindex="-1">All</a>
                            </li>
                            @foreach (var category in Model.Categories)
                            {
                                <li class="nav-item text-center m-2 fs-5 fw-bold border-1">
                                    <a href="@Url.Action("Menu", "Food", new { categoryId = category.Id })" class="nav-link text-warning" tabindex="-1">
                                        @category.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @foreach (var item in Model.Foods)
                        {
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-light p-" type="button" data-bs-toggle="modal" data-bs-target="#food-modal-@item.Id">
                                        <img class="flex-shrink-0 img-fluid rounded" src="~/img/@item.PhotoPath" style="width: 80px;">
                                    </button>
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>@item.Name</span>
                                            <span class="text-warning"><b>@string.Format("{0:N0} VND", item.Price)</b></span>
                                        </h5>
                                        <small class="fst-italic">@item.Description</small>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="food-modal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="product-modal-@item.Id-label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">@item.Name</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="img-fluid" src="~/img/@item.PhotoPath">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Menu End -->
